html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

.rvs {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

header, footer {
    width: 100%;
    height: 45%;
    z-index: 10;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

main {
    width: 100%;
    height: 10%;
}

.section_center {
    width: 100%;
    height: 100%;
    position: relative;

    &:after {
        content: '';
        background: {
            image: url(/img/blc_center.webp);
            repeat: no-repeat;
            size: cover;
            position: 50% 0;
        }
        opacity: .3;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.logo {
    position: absolute;
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 30;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

div.slide {
    z-index: 5;
    position: absolute;
    left: 120%;
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    width: 80%;
}

.text_block {
    background-color: rgba(0, 0, 0, .6);
    -webkit-box-shadow: 15px 0 15px 0 rgba(0, 0, 0, .6), -15px 0 15px 0 rgba(0, 0, 0, .6);
    -moz-box-shadow: 15px 0 15px 0 rgba(0, 0, 0, .6), -15px 0 15px 0 rgba(0, 0, 0, .6);
    box-shadow: 15px 0 15px 0 rgba(0, 0, 0, .6), -15px 0 15px 0 rgba(0, 0, 0, .6);
}

p {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5vh;
}

.photo_img {
    border-radius: 1000px;
    border: 2px solid #fff;
    box-shadow: 0 0 70px #fff;
    max-width: 15vw;
    max-height: 25vh;
    opacity: .7;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

section {
    position: relative;
    z-index: 10;
    background: {
        repeat: no-repeat;
        size: cover;
        position: 50% 50%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 15;
        opacity: .5;
        transition: opacity 250ms ease-out;
    }

    &:hover:after {
        opacity: .25;
    }

    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {
        position: relative;
        z-index: 20;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 80%;

        text-align: center;

        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        transition: font-size 250ms ease-out;
        font-size: 150%;
    }
}
